body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin-top: 50px;
}

.container {
    width: 300px;
    padding: 20px;
    background-color: white;
    margin: auto;
    box-shadow: 0px 0px 10px gray;
    border-radius: 5px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

#forget:hover {
    color:dodgerblue;
    cursor: pointer;
}
